useDynLib(marlin, .registration=TRUE)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
export("%>%")
importFrom(magrittr,"%>%")
importFrom(iterators, "icount")
importFrom(stats, "median", "quantile", "rnorm", "runif", "sd")
importFrom(ggplot2,"ggplot", "aes","%+replace%")
