useDynLib(marlin, .registration=TRUE)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
export("%>%")
importFrom(magrittr,"%>%")
importFrom(foreach,"%do%")
importFrom(foreach,"%dopar%")
importFrom(foreach,"foreach")
importFrom(doParallel, "registerDoParallel")
importFrom(iterators, "icount")
importFrom(stats, "median", "quantile", "rnorm", "runif", "sd")
